@charset "UTF-8";
/*  Color Klassen definieren */
/*  Margin Klassen definieren 
    1rem = 10px
*/
#page-15853 .m-b-40 {
  margin-bottom: 4rem;
}

#page-15853 .m-t-40 {
  margin-top: 4rem;
}

#page-15853 .m-b-100 {
  margin-bottom: 10rem;
}

#page-15853 .m-t-100 {
  margin-top: 10rem;
}

/*  Padding Klassen definieren 
    1rem = 10px
*/
#page-15853 {
  /*  Text Klassen definieren */
}

#page-15853 .p-b-15 {
  padding-bottom: 1.5rem;
}

#page-15853 .p-b-30 {
  padding-bottom: 3rem;
}

#page-15853 .font-w-s {
  font-weight: 100;
}

#page-15853 .font-c-b {
  color: #1D1D1D;
}

/* Sidenav ausblenden + Page width auf 100% */
#page-15853 .section-inner-aside {
  display: none;
}

#page-15853 .section-inner-content {
  width: 100%;
}

#page-15853 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

@media only screen and (max-width: 600px) {
  #page-15853 .grid {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

#page-15853 .grid > div {
  background: #FFFFFF;
  padding: 1rem;
  position: relative;
  box-shadow: 0 3px 10px #ddd;
  -webkit-box-shadow: 0 3px 10px #ddd;
  border-radius: 5px;
  height: 150px;
}

#page-15853 .grid > div img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#page-15853 .overlay {
  position: absolute;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .0s ease;
  transition: .0s ease;
  background-color: #ffffff;
}

#page-15853 .overlay a {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: .0s ease;
  transition: .0s ease;
}

#page-15853 .overlay:hover {
  opacity: 1;
  bottom: 0;
  height: 100%;
}

#page-15853 .text {
  color: #000000;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#page-15853 .text-light {
  font-size: 14px;
  font-weight: 300;
}

/* Verkaufsladen */
.grid-container-verkaufsladen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 450px 150px 350px;
  gap: 16px;
      grid-template-areas: "shopPanorama shopPanorama shopPanorama" "Öffnungszeiten Zahlungsarten Zahlungsarten" "shopImg Zahlungsarten Zahlungsarten";
}

@media only screen and (max-width: 1140px) {
  .grid-container-verkaufsladen {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 450px 150px 350px;
        grid-template-areas: "shopPanorama shopPanorama shopPanorama shopPanorama" "Öffnungszeiten Öffnungszeiten Zahlungsarten Zahlungsarten" "shopImg shopImg Zahlungsarten Zahlungsarten";
  }
}

@media only screen and (max-width: 980px) {
  .grid-container-verkaufsladen {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-auto-rows: 450px 150px auto;
        grid-template-areas: "shopPanorama" "Öffnungszeiten" "Zahlungsarten";
  }
}

.grid-container-verkaufsladen .item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: shopPanorama;
}

.grid-container-verkaufsladen .item-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container-verkaufsladen .item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Öffnungszeiten;
  background: #FFFFFF;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 3px 10px #ddd;
  -webkit-box-shadow: 0 3px 10px #ddd;
}

.grid-container-verkaufsladen .item-2 #Öffnungszeiten tbody tr {
  border-bottom: none;
}

.grid-container-verkaufsladen .item-2 #Öffnungszeiten tbody td {
  padding: 1rem 0 1rem 0;
}

.grid-container-verkaufsladen .item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: Zahlungsarten;
  background: #FFFFFF;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 3px 10px #ddd;
  -webkit-box-shadow: 0 3px 10px #ddd;
}

.grid-container-verkaufsladen .item-3 .zahlungsart-logos {
  margin: 3rem 0 3rem 0;
}

.grid-container-verkaufsladen .item-3 img {
  width: 150px;
  margin: 0 0.8rem 0.8rem 0;
}

.grid-container-verkaufsladen .item-3 .besuch {
  margin: 50px 0 0 0;
}

.grid-container-verkaufsladen .item-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: shopImg;
}

.grid-container-verkaufsladen .item-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-t-10 {
  padding-top: 1rem;
}

.p-b-10 {
  padding-bottom: 1rem;
}

.kontakt-hr {
  border: 1px solid #EEEEEE;
  margin: 1rem 0 1rem 0;
}

h1 {
  color: black;
}

/* Kontakt */
.grid-container-kontakt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 255px 255px;
  gap: 16px;
      grid-template-areas: "kontaktImg kontaktAdresse kontaktÖffnungszeiten" "kontaktImg kontaktMap kontaktÖffnungszeiten";
}

.grid-container-kontakt .item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: kontaktImg;
}

.grid-container-kontakt .item-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container-kontakt .item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: kontaktAdresse;
  background: #FFFFFF;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 3px 10px #ddd;
  -webkit-box-shadow: 0 3px 10px #ddd;
}

.grid-container-kontakt .item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: kontaktMap;
}

.grid-container-kontakt .item-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container-kontakt .item-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: kontaktÖffnungszeiten;
  background: #FFFFFF;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 3px 10px #ddd;
  -webkit-box-shadow: 0 3px 10px #ddd;
}

.grid-container-kontakt .item-4 #Öffnungszeiten tbody tr {
  border-bottom: none;
}

.grid-container-kontakt .item-4 #Öffnungszeiten tbody td {
  padding: 0.5rem 0 0.5rem 0;
}

.grid-container-kontakt .item-4 #Öffnungszeiten tbody th {
  padding: 0 0 0.5rem 0;
}
/*# sourceMappingURL=styles.css.map */