/*  Style CSS
    Page-12474 - Kontakt
    Author: Jeffrey Widmer
    Company: GYSO AG
*/

/* Kontakt */
.grid-container-kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 255px 255px;
    gap: 16px;
    grid-template-areas: 
    "kontaktImg kontaktAdresse kontaktÖffnungszeiten"
    "kontaktImg kontaktMap kontaktÖffnungszeiten";
}

.grid-container-kontakt .item-1 {
    grid-area: kontaktImg;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.grid-container-kontakt .item-2 {
    grid-area: kontaktAdresse;

    background: $color-white;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0 3px 10px #ddd;
    -webkit-box-shadow: 0 3px 10px #ddd;
}

.grid-container-kontakt .item-3 {
    grid-area: kontaktMap;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.grid-container-kontakt .item-4 {
    grid-area: kontaktÖffnungszeiten;

    background: $color-white;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0 3px 10px #ddd;
    -webkit-box-shadow: 0 3px 10px #ddd;

    #Öffnungszeiten tbody tr {
        border-bottom: none;
    }

    #Öffnungszeiten tbody td {
        padding: 0.5rem 0 0.5rem 0;
    }

    #Öffnungszeiten tbody th {
        padding: 0 0 0.5rem 0;
    }
}